{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="{% static 'bootstrap4/js/jquery-3.4.1.min.js' %}"></script>
    <script>

    $(document).ready(function(){
      $("#frame_content").append('<iframe src="/iframe/"></iframe>');
      var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
      var eventer = window[eventMethod];
      var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";
      // Listen to message from child window
      eventer(messageEvent,function(e) {
        console.log('parent received message!:  ',e.data);
        if(!e.data){
          $('#frame_content').remove();
        }
      },false);
    })
   </script>


  </head>
  <body>
    {% block content %}

    {% endblock %}

  </body>
</html>
